/*TODO sort out positioning to make each % a % of the same scale*/
.body {
    position: fixed;
    background-color: #232323;
    height: 88.5%;
    min-width: 100%;
    text-align: center;
    color: turquoise;
    overflow: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.discordlogo {
    max-width: 20%;
    height: auto;
}

.addbottext {
    font-weight: bold;
    font-size: 150%;
}

a.addbotlink:link {
    color: white;
}

a.addbotlink:visited {
    color: white;
}

a.addbotlink:hover {
    color: turquoise;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid white;
    text-align: left;
}

th, td {
    padding: 10px;
}