/*TODO sort out positioning to make each % a % of the same scale*/
header {
    top: 0px;
    height: 6%; 
    background-color: #232323;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
}

li.navigate {
    float: left;
}

li a {
    display: block;
    color: turquoise;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#232323;
}

li.account-management {
    float: right;
}

.dropdown {
    float: right;
    position: relative;
    display: block;
    color: turquoise;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

.dropdown:hover {
    cursor: pointer;
    color: white;
}
  
.dropdown-content {
    justify-content: center;
    display: none;
    position: relative;
    padding: 30px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: flex;
}

button {
    float: right;
    border: none;
    display: block;
    color: turquoise;
    background-color: #161616;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    color: white;
}