footer {
    background-color: #161616;
    bottom: 0px;
    height: 10%;
    max-height: 10%;
    width: 100%;
    position: absolute;
    overflow: auto;
    font-size: 14px;
}

.footer-contact {
    padding-top: 0.5%;
    color: turquoise;
    text-align: center;
}

.footer-copyright {
    color: turquoise;
    text-align: center;
}

a:link {
    color: turquoise;
}

a:hover {
    color: white;
}