footer {
    background-color: #161616;
    bottom: 0px;
    height: 10%;
    width: 100%;
    position: absolute;
}

.footerInfo {
    color: turquoise;
    text-align: center;
}

a:link {
    color: turquoise;
}

a:hover {
    color: white;
}