.parent {
    height: 100vh;
}

.body {
    height: 84%;
    background-color: #232323;
    min-width: 100%;
    color: turquoise;
    overflow: auto;
}

.home-center {
    text-align: center;
}

.home-info {
    padding-left: 30%;
    padding-right: 30%;
}